<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Calculadora</title>
  <link rel="stylesheet" href="./assets/styles.css" />
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/mathjs/lib/browser/math.js"></script>
</head>

<body>

  <div id="app">

    <div class="display" v-if="display === ''">Total: 0</div>
    <div class="display" v-else>Total: {{ display }}</div>

    <ul>
      <li v-for="tecla in teclas">
        <button class="button" @click="agregar(`${tecla}`)">
          {{ tecla }}
        </button>
      </li>
      <li>
        <button class="button" @click="evaluar(display)">
          {{ igual }}
        </button>
      </li>
      <li>
        <button class="button" @click="display = display.slice(0, -1)">
          {{ borrar }}
        </button>
      </li>
      <li>
        <button class="button" @click="display = ''">
          {{ borrarTodo }}
        </button>
      </li>
    </ul>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>